@import "reset.scss";
@import "normalize.scss";

.error-404 {
  margin-top: 20%;
  color: #bbb;
  text-align: center;
}

.error-404 p {
  margin-top: 10px;
}

.error-404 a {
  color: #bbb;
  font-weight: bold;
}