.dashboard {
  width: 100%;
  padding-top: 51px;
  padding-bottom: 80px;

  & .loading {
    padding: 100px 0;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.footer svg {
  margin-left: 5px;
}